<html lang="en">
    <%- include('../partial/head.ejs') %>
<body>
    <%- include('../partial/nav.ejs') %>

    <div class="details content">
        <h2> <%= blog.title %> </h2>
        <div class="content">
            <p> <%= blog.body %> </p>
        </div>
        <a class="delete" data-doc =" <%= blog._id %> ">
            <img src="/deleteIcon.svg" alt="Delete">
        </a>
    </div>

    <%- include('../partial/footer.ejs') %>

    <script>
        const trashcan = document.querySelector('a.delete');

        trashcan.addEventListener('click', (e) => { 
            console.log('Hello');

            const endpoint =  `/blogs/${ trashcan.dataset.doc }`;

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect )
            .catch((err)=>{
                console.log(err);
            })
        })
        
    </script>
</body>
</html>