<html>
     <%- include('../partial/head.ejs') %>

    <body>
        
        <%- include('../partial/nav.ejs') %>

        <div class="blogs content">
            <h2>All Blogs</h2>

            <% if(blogs.length > 0 ) { %>
                <% blogs.forEach((blog) => { %>
                    
                <a class="single" href="/blogs/<%= blog.id %>">
                    <h3 class="title"> <%= blog.title %> </h2>
                    <p class="snippet"> <%= blog.snippet %> </p>
                </a>
                <% })%>

            <% } else { %>
                
                <p>There is no content to display....</p>

            <% } %>
        </div>

        <%- include('../partial/footer.ejs') %>
    </body>
</html>